html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: slategray;
}

button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

select {
	border: solid 1px lightgray;
    border-radius: 4px;
    margin: 0px 10px;
    padding: 3px 3px;
    color: slategray;
    width: 100px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

form p label {
	display: inline-block;
    width: 120px;
}

.form-header {
	text-align: center;
}

.form-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.submit {
	border: solid 1px lightgray;
    border-radius: 4px;
    background: lightgray;
    padding: 5px 5px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
	text-align: left;
    padding: 0px 10px;
	border-bottom: solid 1px lightgray;
	margin-bottom: 10px;
}

.header-button-inactive {
	height: 35px;
	width: 100px;
	background: transparent;
	border: solid 1px lightgray;
	border-radius: 4px;
	border-bottom: none;
}

.header-button-active {
	height: 35px;
	width: 100px;
	background: lightgray;
	border: solid 1px lightgray;
	border-radius: 4px;
	border-bottom: none;
}

.header-link {
	color: slategray;
    text-decoration: none;
}

.status-bar-container {
	display: flex;
	align-items: center;
	padding: 5px 0px;
}

.status-bar-outer {
	background-color: mistyrose;
	width: 500px;
	height: 15px;
	margin: 0px 15px;
	border-radius: 8px;
	display: flex;
}

.status-bar-inner {
	height: 15px;
	border-radius: 8px;
	background-color: lightgreen;
	width: 100px;
	margin-left: 0px;
}

.current-level-bar {
	height: 15px;
	background-color: seagreen;
	width: 3px;
	border-radius: 3px;
	margin-left: 0px;
}

.status-bar-container label {
	width: 100px;
}

.current-status-wrapper {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.dashboard-header {
	text-align: center;
}