{% extends 'Base/base.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}


<h1 class="form-header">Plant Profile</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" id="plant_profile_form" name="plant_profile_form">
	    {% csrf_token %}
	    {{ plant_profile_form.as_p }}
	</form>
</div>

<h1 class="form-header">Healthy Levels</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" id="healthy_levels_form" name="healthy_levels_form">
	    {% csrf_token %}
	    {{ healthy_levels_form.as_p }}
	</form>
</div>
{% endblock %}