{% extends 'Base/base.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<h1 class="form-header">Mode</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" name="mode_form" id="mode-form">
		{% csrf_token %}
		{{ mode_form.as_p}}
	</form>
</div>

{% if mode == "machine_learning" %}
<h1 class="form-header">Plant Profile</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" id="plant_profile_form" name="plant_profile_form">
		{% csrf_token %}
		{{ plant_profile_form.as_p }}
	</form>
</div>

<h1 class="form-header">Healthy Levels</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" id="healthy_levels_form" name="healthy_levels_form">
		{% csrf_token %}
		{{ healthy_levels_form.as_p }}
	</form>

	{% if can_save %}
	<button class="save-profile-button" onclick="showSaveProfileModal()">Save As New Profile</button>
	{% endif %}
</div>

{% endif %}

{% if mode == "manual" %}
<h1 class="form-header">Recurring Manual Actions</h1>
<div class="form-wrapper">
	<form action="/settings/" method="post" id="action_form" name="action_form">
		{% csrf_token %}
		{{ action_form.as_p }}
	</form>
</div>
{% endif %}

<h1 class="form-header">
	Advanced Settings
	<div class="advanced-settings-toggle-button-wrapper" id="advanced-settings-toggle-button-wrapper">
		<button class="advanced-settings-toggle-button" id="advanced-settings-toggle-button"
			onclick="toggleAdvancedSettings()">></button>
	</div>
</h1>

<div class="advanced-settings" id="advanced-settings">
	<h1 class="form-header">Controller Update <br> Interval Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="update_interval" name="update_interval">
			{% csrf_token %}
			{{ update_interval.as_p }}
		</form>
	</div>


	<h1 class="form-header">Alert Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="alert_form" name="alert_form">
			{% csrf_token %}
			{{ alert_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Duty Cycle Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="pwm_form" name="pwm_form">
			{% csrf_token %}
			{{ pwm_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Frequency Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="freq_form" name="freq_form">
			{% csrf_token %}
			{{ freq_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Germination Date Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="start_date_form" name="start_date_form">
			{% csrf_token %}
			{{ start_date_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Germination Date Settings (From Current Date)</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="days_form" name="days_form">
			{% csrf_token %}
			{{ days_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Address Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="address_form" name="address_form">
			{% csrf_token %}
			{{ address_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Added Addresses</h1>
	<div class="form-wrapper">
		<div class="summary-statistics">
			<table id="demotable">
				<tr id="demotable">
					<td colspan="5">User Defined Addresses</td>
				</tr>
				<tr style="overflow-wrap: break-word;" id="demotable">
					<td>
						Index of Address
					</td>
					<td>
						Street Address
					</td>
					<td>
						City
					</td>
					<td>
						State
					</td>
					<td>
						Zip Code
					</td>
				</tr>
				{% for index, address in address_list %}
				<tr style="overflow-wrap: break-word;" id="demotable">
					<td>
						{{index}}
					</td>
					<td>
						{{address.street_address}}
					</td>
					<td>
						{{address.city}}
					</td>
					<td>
						{{address.state}}
					</td>
					<td>
						{{address.zip}}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<h1 class="form-header">Delete Address</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="delete_address_form" name="delete_address_form">
			{% csrf_token %}
			{{ delete_address_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Temperature Settings</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="temp_form" name="temp_form">
			{% csrf_token %}
			{{ temp_form.as_p }}
		</form>
	</div>

	<h1 class="form-header">Delete Data</h1>
	<div class="form-wrapper">
		<form action="/settings/" method="post" id="delete_form" name="delete_form">
			{% csrf_token %}
			{{ delete_form.as_p }}
		</form>
	</div>
</div>

<div id="save-profile-modal" class="save-profile-modal">
	<div class="form-wrapper save-profile-form-wrapper">
		<button class="close-save-profile-modal-button" id="close-save-profile-modal-button"
			onclick="hideSaveProfileModal()">x</button>
		<form action="/settings/" method="post" id="save_profile_form" name="save_profile_form">
			{% csrf_token %}
			{{ save_profile_form.as_p }}
			<button class="save-profile-submit" onclick="submitSaveProfileForm()">Save</button>
		</form>
	</div>
</div>

<div id="sidebar" class="sidebar">
	<div class="sidebar-toggle-button-wrapper" id="sidebar-toggle-button-wrapper">
		<button class="sidebar-toggle-button" id="sidebar-toggle-button" onclick="toggleSidebar()">
			<!-- Could cause issues with vs code here -->
			< </button>
				<!-- Could cause issues with vs code here -->
	</div>
	<div class="sidebar-content-wrapper" id="sidebar-content-wrapper">
		<div class="sidebar-section-wrapper">
			<div class="sidebar-section-header">
				Current Values
			</div>
			<div class="sidebar-section-content">
				<div class="sidebar-value-label">
					Temperature
				</div>
				<div>
					{{last_temperature}} <span>&#176;</span>F
				</div>
				<div class="sidebar-value-label">
					Humidity
				</div>
				<div>
					{{last_humidity}} %
				</div>
				<div class="sidebar-value-label">
					Soil Moisture
				</div>
				<div>
					{{last_soil_moisture}} %
				</div>
				<div class="sidebar-value-label">
					Light
				</div>
				<div>
					{{last_sunlight}} lm/m<sup>2</sup>
				</div>
				<div class="sidebar-value-label">
					Fan Duty Cycles
				</div>
				<div>
					{{fan_dc}} %
				</div>
				<div class="sidebar-value-label">
					Light Duty Cycles
				</div>
				<div>
					{{light_dc}} %
				</div>
				<div class="sidebar-value-label">
					Fan Frequency
				</div>
				<div>
					{{fan_freq}} hz
				</div>
				<div class="sidebar-value-label">
					Light Frequency
				</div>
				<div>
					{{light_freq}} hz
				</div>
			</div>
		</div>
		<div class="sidebar-section-wrapper">
			<div class="sidebar-section-header">
				Legend
			</div>
			<div class="sidebar-section-content">
				<div class="lenged-row-wrapper">
					<div class="legend-row-label">
						Temperature (<span>&#176;</span>F)
					</div>
					<button class="legend-row-button" id="expand-legend-button-temperature"
						onclick="expandLegend('temperature')">></button>
				</div>
				<div class="legend-data-wrapper" id="legend-temperature-data">
					{% for record in legend.temperature.items %}
					<div class="legend-bucket-label">
						{{record.1.label}}
					</div>
					<div class="legend-bucket-data">
						{{record.1.low}}-{{record.1.high}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-section-content">
				<div class="lenged-row-wrapper">
					<div class="legend-row-label">
						Humidity (%)
					</div>
					<button class="legend-row-button" id="expand-legend-button-humidity"
						onclick="expandLegend('humidity')">></button>
				</div>
				<div class="legend-data-wrapper" id="legend-humidity-data">
					{% for record in legend.humidity.items %}
					<div class="legend-bucket-label">
						{{record.1.label}}
					</div>
					<div class="legend-bucket-data">
						{{record.1.low}}-{{record.1.high}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-section-content">
				<div class="lenged-row-wrapper">
					<div class="legend-row-label">
						Soil Moisture (%)
					</div>
					<button class="legend-row-button" id="expand-legend-button-soil-moisture"
						onclick="expandLegend('soil_moisture')">></button>
				</div>
				<div class="legend-data-wrapper" id="legend-soil-moisture-data">
					{% for record in legend.soil_moisture.items %}
					<div class="legend-bucket-label">
						{{record.1.label}}
					</div>
					<div class="legend-bucket-data">
						{{record.1.low}}-{{record.1.high}}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-section-content">
				<div class="lenged-row-wrapper">
					<div class="legend-row-label">
						Sunlight (lm/m<sup>2</sup>)
					</div>
					<button class="legend-row-button" id="expand-legend-button-sunlight"
						onclick="expandLegend('sunlight')">></button>
				</div>
				<div class="legend-data-wrapper" id="legend-sunlight-data">
					{% for record in legend.sunlight.items %}
					<div class="legend-bucket-label">
						{{record.1.label}}
					</div>
					<div class="legend-bucket-data">
						{{record.1.low}}-{{record.1.high}}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script>


	document.getElementById("id_plant_profile").options[0].disabled = true;

	function showSaveProfileModal() {
		document.getElementById("save-profile-modal").style.display = "flex";
	}

	function hideSaveProfileModal() {
		document.getElementById("save-profile-modal").style.display = "none";
	}

	function submitSaveProfileForm() {
		document.getElementById("id_custom_temperature").value = document.getElementById("id_temperature").value
		document.getElementById("id_custom_humidity").value = document.getElementById("id_humidity").value
		document.getElementById("id_custom_sunlight").value = document.getElementById("id_sunlight").value
		document.getElementById("id_custom_soil_moisture_static").value = document.getElementById("id_soil_moisture_static").value
		document.getElementById("id_custom_soil_moisture_wet").value = document.getElementById("id_soil_moisture_wet").value
		document.getElementById("id_custom_soil_moisture_dry").value = document.getElementById("id_soil_moisture_dry").value
		document.getElementById("id_custom_days").value = document.getElementById("id_days").value
		document.getElementById("id_custom_run").value = document.getElementById("id_run").value

		document.getElementById("save_profile_form").submit()
	}

	var advanced_settings_hidden = true;

	function toggleAdvancedSettings() {
		if (advanced_settings_hidden) {
			// document.getElementById("sidebar").style.width = "350px";
			document.getElementById("advanced-settings-toggle-button").style.transform = "rotate(-90deg)";
			document.getElementById("advanced-settings").style.display = "block";
		}
		else {
			// document.getElementById("sidebar").style.width = "30px";
			document.getElementById("advanced-settings-toggle-button").style.transform = "rotate(90deg)";
			document.getElementById("advanced-settings").style.display = "none";
		}

		advanced_settings_hidden = !advanced_settings_hidden
	}

	var sidebar_hidden = true;

	function toggleSidebar() {
		if (sidebar_hidden) {
			document.getElementById("sidebar").style.width = "350px";
			document.getElementById("sidebar-toggle-button").style.transform = "rotate(180deg)";
			document.getElementById("sidebar-content-wrapper").style.display = "grid";
		}
		else {
			document.getElementById("sidebar").style.width = "30px";
			document.getElementById("sidebar-toggle-button").style.transform = "none";
			document.getElementById("sidebar-content-wrapper").style.display = "none";
		}

		sidebar_hidden = !sidebar_hidden
	}

	var temperature_expanded = false;
	var humidity_expanded = false;
	var soil_moisture_expanded = false;
	var sunlight_expanded = false;

	function expandSection(section_name) {
		document.getElementById("expand-legend-button-".concat(section_name)).style.transform = "rotate(-90deg) translateY(-1px)";
		document.getElementById("legend-".concat(section_name).concat("-data")).style.display = "block";

		return true
	}

	function collapseSection(section_name) {
		document.getElementById("expand-legend-button-".concat(section_name)).style.transform = "rotate(90deg)";
		document.getElementById("legend-".concat(section_name).concat("-data")).style.display = "none";

		return false
	}

	function expandLegend(type) {
		if (type == "temperature") {
			if (temperature_expanded) {
				temperature_expanded = collapseSection("temperature")
			}
			else {
				humidity_expanded = collapseSection("humidity")
				soil_moisture_expanded = collapseSection("soil-moisture")
				sunlight_expanded = collapseSection("sunlight")
				temperature_expanded = expandSection("temperature")
			}
		}
		if (type == "humidity") {
			if (humidity_expanded) {
				humidity_expanded = collapseSection("humidity")
			}
			else {
				temperature_expanded = collapseSection("temperature")
				soil_moisture_expanded = collapseSection("soil-moisture")
				sunlight_expanded = collapseSection("sunlight")
				humidity_expanded = expandSection("humidity")
			}
		}
		if (type == "soil_moisture") {
			if (soil_moisture_expanded) {
				soil_moisture_expanded = collapseSection("soil-moisture")
			}
			else {
				temperature_expanded = collapseSection("temperature")
				humidity_expanded = collapseSection("humidity")
				sunlight_expanded = collapseSection("sunlight")
				soil_moisture_expanded = expandSection("soil-moisture")
			}
		}
		if (type == "sunlight") {
			if (sunlight_expanded) {
				sunlight_expanded = collapseSection("sunlight")
			}
			else {
				temperature_expanded = collapseSection("temperature")
				humidity_expanded = collapseSection("humidity")
				soil_moisture_expanded = collapseSection("soil-moisture")
				sunlight_expanded = expandSection("sunlight")
			}
		}
	}
</script>
{% endblock %}