{% extends 'Base/base.html' %}

{% block title %}
Weather
{% endblock %}

{% block content %}

<meta http-equiv="Refresh" content="60">
<!-- refresh page every 60 seconds for weather updates -->


<!-- <h1 class="dashboard-header">Weather</h1> -->
{% if failure_to_load %}
<div class="weather-load-failure">
    <h1 class="dashboard-header">National Weather Service API Failed To Respond. Please Reload Page.</h1>
</div>
{% else %}
<div class="weather-page" id="weather-page">
    <div class="weather-header" id="weather-header">
        <h1 class="weather-header-text">
            {{city}}, {{state}} - {{date_string}} - {{today_temp}}<span>&deg</span>{{degree_symbol}}
        </h1>
    </div>
    <div class='weather-heading' id='weather-heading'>
        <div class="city-heading" id="city-heading">
            <p class="city-text" id="city-text">{{city}}, {{state}}</p>
        </div>
        <div class="temperature-heading" id="temperature-heading">
            <p class="temp-text" id="temp-text">{{today_temp}}<span>&deg</span>{{degree_symbol}}</p>
        </div>
        <div class="weather-summary" id="weather-summary">
            <p class="weather-summary-text" id="weather-summary-text">
                {{today_short}}
            </p>
        </div>
        <!-- <div class="date-summary" id="date-summary">
            <p class="date-summary-text" id="date-summary-text">
                {{date_string}} <br> {{temp_mode}}
            </p>
        </div> -->
        <div class="national-weather-service-summary" id="national-weather-service-summary">
            <p class="national-weather-service-summary-text" id="national-weather-service-summary-text">
                {{today_detailed}}
            </p>
        </div>
    </div>

    <div class="current-weather-values" id="current-weather-values">
        <h2 class='current-weather-heading' id="current-weather-heading">Current Weather</h2>
        <table>
            <tr>
                <td>
                    <h3 class="weather-values" id="temperature">Temperature</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="wind">Wind</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="sun-light">Sun Light</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="precipitation">Precipitation</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="high-low">High & Low</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="weather-values" id="temperature-value">{{today_temp}}<span>&deg</span>{{degree_symbol}}
                    </h3>
                </td>
                <td>
                    <h3 class="weather-values" id="wind-value">{{today_windspeed}} / {{today_winddirection}}</h3>
                </td>
                <td>
                    <div class="weather-values-symbol" id="sun-light-value">
                        <img src="{{today_sun}}"
                            style="width:42px;height:42px;border: 2px solid white;border-radius: 7px;filter: drop-shadow(2px 2px 3px white);"
                            alt="Weather Image" />
                    </div>
                </td>
                <td>
                    <h3 class="weather-values" id="precipitation-value">{{today_precipitation}}</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="high-low-value">{{today_high}}<span>&deg</span>{{degree_symbol}} /
                        {{today_low}}<span>&deg</span>{{degree_symbol}}</h3>
                </td>
            </tr>
        </table>
    </div>

    <!-- <div class='national-weather-service' id='national-weather-service'>
        <div class="national-weather-service-summary" id="national-weather-service-summary">
            <h2 class="national-weather-service-summary-heading" id="national-weather-service-summary-heading">
                Detailed Forecast
            </h2>
            <p class="national-weather-service-summary-text" id="national-weather-service-summary-text">
                {{today_detailed}}
            </p>
        </div>
    </div> -->


    <div class="upcoming-weather-values" id="upcoming-weather-values">
        <div class="upcoming-heading" id="upcoming-heading">
            <h2 class='upcoming-heading-summary' id="upcoming-heading-summary">7 Day Forecast</h2>
        </div>
        <table>
            {% for day_dict in remaining_days_data %}
            <tr>
                <td>
                    <div class='upcoming-weather-heading' id="upcoming-weather-heading">{{day_dict.name}}</h2>
                </td>
                <td>
                    <h3 class="weather-values" id="temperature-value">
                        {{day_dict.temperature}}<span>&deg</span>{{degree_symbol}}</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="wind-value">{{day_dict.windSpeed}} / {{day_dict.windDirection}}</h3>
                </td>
                <td>
                    <div class="weather-values-symbol" id="sun-light-value">
                        <img src="{{day_dict.icon}}"
                            style="width:42px;height:42px;border: 2px solid white;border-radius: 7px;filter: drop-shadow(2px 2px 3px white);"
                            alt="Sunny Image" />
                    </div>
                </td>
                <td>
                    <h3 class="weather-values" id="precipitation-value">{{day_dict.precipitation}}</h3>
                </td>
                <td>
                    <h3 class="weather-values" id="high-low-value">{{day_dict.high}}<span>&deg</span>{{degree_symbol}} /
                        {{day_dict.low}}<span>&deg</span>{{degree_symbol}}</h3>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endif %}

<div id="sidebar" class="sidebar">
    <div class="sidebar-toggle-button-wrapper" id="sidebar-toggle-button-wrapper">
        <button class="sidebar-toggle-button" id="sidebar-toggle-button" onclick="toggleSidebar()">
            < </button>
    </div>
    <div class="sidebar-content-wrapper" id="sidebar-content-wrapper">
        <div class="sidebar-section-wrapper">
            <div class="sidebar-section-header">
                Current Values
            </div>
            <div class="sidebar-section-content">
                <div class="sidebar-value-label">
                    Temperature
                </div>
                <div>
                    {{last_temperature}} <span>&#176;</span>F
                </div>
                <div class="sidebar-value-label">
                    Humidity
                </div>
                <div>
                    {{last_humidity}} %
                </div>
                <div class="sidebar-value-label">
                    Soil Moisture
                </div>
                <div>
                    {{last_soil_moisture}} %
                </div>
                <div class="sidebar-value-label">
                    Light
                </div>
                <div>
                    {{last_sunlight}} lm/m<sup>2</sup>
                </div>
                <div class="sidebar-value-label">
                    Fan Duty Cycles
                </div>
                <div>
                    {{fan_dc}} %
                </div>
                <div class="sidebar-value-label">
                    Light Duty Cycles
                </div>
                <div>
                    {{light_dc}} %
                </div>
                <div class="sidebar-value-label">
                    Fan Frequency
                </div>
                <div>
                    {{fan_freq}} hz
                </div>
                <div class="sidebar-value-label">
                    Light Frequency
                </div>
                <div>
                    {{light_freq}} hz
                </div>
            </div>
        </div>
        <div class="sidebar-section-wrapper">
            <div class="sidebar-section-header">
                Legend
            </div>
            <div class="sidebar-section-content">
                <div class="lenged-row-wrapper">
                    <div class="legend-row-label">
                        Temperature (<span>&#176;</span>F)
                    </div>
                    <button class="legend-row-button" id="expand-legend-button-temperature"
                        onclick="expandLegend('temperature')">></button>
                </div>
                <div class="legend-data-wrapper" id="legend-temperature-data">
                    {% for record in legend.temperature.items %}
                    <div class="legend-bucket-label">
                        {{record.1.label}}
                    </div>
                    <div class="legend-bucket-data">
                        {{record.1.low}}-{{record.1.high}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar-section-content">
                <div class="lenged-row-wrapper">
                    <div class="legend-row-label">
                        Humidity (%)
                    </div>
                    <button class="legend-row-button" id="expand-legend-button-humidity"
                        onclick="expandLegend('humidity')">></button>
                </div>
                <div class="legend-data-wrapper" id="legend-humidity-data">
                    {% for record in legend.humidity.items %}
                    <div class="legend-bucket-label">
                        {{record.1.label}}
                    </div>
                    <div class="legend-bucket-data">
                        {{record.1.low}}-{{record.1.high}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar-section-content">
                <div class="lenged-row-wrapper">
                    <div class="legend-row-label">
                        Soil Moisture (%)
                    </div>
                    <button class="legend-row-button" id="expand-legend-button-soil-moisture"
                        onclick="expandLegend('soil_moisture')">></button>
                </div>
                <div class="legend-data-wrapper" id="legend-soil-moisture-data">
                    {% for record in legend.soil_moisture.items %}
                    <div class="legend-bucket-label">
                        {{record.1.label}}
                    </div>
                    <div class="legend-bucket-data">
                        {{record.1.low}}-{{record.1.high}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar-section-content">
                <div class="lenged-row-wrapper">
                    <div class="legend-row-label">
                        Sunlight (lm/m<sup>2</sup>)
                    </div>
                    <button class="legend-row-button" id="expand-legend-button-sunlight"
                        onclick="expandLegend('sunlight')">></button>
                </div>
                <div class="legend-data-wrapper" id="legend-sunlight-data">
                    {% for record in legend.sunlight.items %}
                    <div class="legend-bucket-label">
                        {{record.1.label}}
                    </div>
                    <div class="legend-bucket-data">
                        {{record.1.low}}-{{record.1.high}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var is_day = ("{{today_is_day}}" == 'true');
    // if (!is_day) {
    //     document.getElementById("weather-heading").style.backgroundColor = "darkgray";
    //     document.getElementById("current-weather-values").style.backgroundColor = "darkgray";
    //     // document.getElementById("national-weather-service").style.backgroundColor = "darkgray";
    //     document.getElementById("upcoming-weather-values").style.backgroundColor = "darkgray";
    // } else {
    //     document.getElementById("weather-heading").style.backgroundColor = "lightgray";
    //     document.getElementById("current-weather-values").style.backgroundColor = "lightgray";
    //     // document.getElementById("national-weather-service").style.backgroundColor = "lightgray";
    //     document.getElementById("upcoming-weather-values").style.backgroundColor = "lightgray";
    // }

    if (!is_day) {
        document.getElementById("weather-page").style.backgroundImage = "linear-gradient(rgb(18, 94, 117), rgb(9, 74, 94))";

    } else {
        document.getElementById("weather-page").style.backgroundImage = "linear-gradient(rgb(79, 171, 202), rgb(32, 137, 172))";
    }

    is_rainy = ("{{is_rainy}}" == 'true');
    is_cloudy = ("{{is_cloudy}}" == 'true');
    is_snowy = ("{{is_snowy}}" == 'true');
    is_stormy = ("{{is_stormy}}" == 'true');
    is_high_temp = ("{{is_high_temp}}" == 'true');
    is_morning = ("{{is_morning}}" == 'true');
    is_sundown = ("{{is_sundown}}" == 'true');
    is_night = ("{{is_night}}" == 'true');


    if (is_stormy) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://wallpapercave.com/wp/wO7581D.jpg')";
    }

    else if (is_snowy) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://c4.wallpaperflare.com/wallpaper/83/239/610/street-light-snow-snowing-winter-wallpaper-preview.jpg')";
    }

    else if (is_cloudy) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://c4.wallpaperflare.com/wallpaper/759/428/990/uplifting-rays-of-sunshine-wallpaper-preview.jpg')";
    }

    else if (is_rainy) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://www.maketecheasier.com/assets/uploads/2020/06/Featured-Image-Live-Weather-Wallpapers-Android.jpg')";
    }

    else if (is_high_temp) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://c4.wallpaperflare.com/wallpaper/80/311/649/sunny-day-4k-summer-beach-wallpaper-preview.jpg')";
    }

    else if (is_morning) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://wallpaperaccess.com/full/428690.jpg')";
    }

    else if (is_sundown) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://wallpapercave.com/wp/3Hg2wQy.jpg')";
    }

    else if (is_night) {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://wallpaperaccess.com/full/941788.jpg')";
    }

    else {
        document.getElementById("weather-heading").style.backgroundImage = "url('https://wallpaperaccess.com/full/535628.jpg')";
    }


    window.onscroll = function () { myFunction() };

    var header = document.getElementById("weather-header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    var sidebar_hidden = true;

    function toggleSidebar() {
        if (sidebar_hidden) {
            document.getElementById("sidebar").style.width = "350px";
            document.getElementById("sidebar-toggle-button").style.transform = "rotate(180deg)";
            document.getElementById("sidebar-content-wrapper").style.display = "grid";
        }
        else {
            document.getElementById("sidebar").style.width = "30px";
            document.getElementById("sidebar-toggle-button").style.transform = "none";
            document.getElementById("sidebar-content-wrapper").style.display = "none";
        }

        sidebar_hidden = !sidebar_hidden
    }

    var temperature_expanded = false;
    var humidity_expanded = false;
    var soil_moisture_expanded = false;
    var sunlight_expanded = false;

    function expandSection(section_name) {
        document.getElementById("expand-legend-button-".concat(section_name)).style.transform = "rotate(-90deg) translateY(-1px)";
        document.getElementById("legend-".concat(section_name).concat("-data")).style.display = "block";

        return true
    }

    function collapseSection(section_name) {
        document.getElementById("expand-legend-button-".concat(section_name)).style.transform = "rotate(90deg)";
        document.getElementById("legend-".concat(section_name).concat("-data")).style.display = "none";

        return false
    }

    function expandLegend(type) {
        if (type == "temperature") {
            if (temperature_expanded) {
                temperature_expanded = collapseSection("temperature")
            }
            else {
                humidity_expanded = collapseSection("humidity")
                soil_moisture_expanded = collapseSection("soil-moisture")
                sunlight_expanded = collapseSection("sunlight")
                temperature_expanded = expandSection("temperature")
            }
        }
        if (type == "humidity") {
            if (humidity_expanded) {
                humidity_expanded = collapseSection("humidity")
            }
            else {
                temperature_expanded = collapseSection("temperature")
                soil_moisture_expanded = collapseSection("soil-moisture")
                sunlight_expanded = collapseSection("sunlight")
                humidity_expanded = expandSection("humidity")
            }
        }
        if (type == "soil_moisture") {
            if (soil_moisture_expanded) {
                soil_moisture_expanded = collapseSection("soil-moisture")
            }
            else {
                temperature_expanded = collapseSection("temperature")
                humidity_expanded = collapseSection("humidity")
                sunlight_expanded = collapseSection("sunlight")
                soil_moisture_expanded = expandSection("soil-moisture")
            }
        }
        if (type == "sunlight") {
            if (sunlight_expanded) {
                sunlight_expanded = collapseSection("sunlight")
            }
            else {
                temperature_expanded = collapseSection("temperature")
                humidity_expanded = collapseSection("humidity")
                soil_moisture_expanded = collapseSection("soil-moisture")
                sunlight_expanded = expandSection("sunlight")
            }
        }
    }
</script>
{% endblock %}
