Adafruit-Blinka==5.0.1
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-seesaw==1.6.1
adafruit-circuitpython-sgp30==2.2.1
Adafruit-PlatformDetect==2.14.0
Adafruit-PureIO==1.1.5
autoenv==1.0.0
smbus2==0.3.0
virtualenv==16.7.9
